.collapse {
 
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;

  .collapseBanner {
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
   .rotate{
    transform: rotate(180deg);
   }
   img{
    cursor: pointer;
   }
  }
  .collapseTexte {
   
    p {
      font-size: 17px;
      line-height: 142.6%;
    }
  }

}
.backColorOff{
    background-color: white;
}
.backColorOn{
    background-color: #f6f6f6;
}