.Footer{
    color: white;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 120px;
    padding-top: 20px;
    p{
        text-align: center;
        width: 30%;
    }
}