#root{
    /**max-width: 80%;
    margin-right: 80px;
    margin-left: 80px;*/
    .main{
        max-width: 80%;
        min-width: 400px;
        margin: auto;
    }
}
@media screen and (max-width: 800px){
    #root{
        margin-right: 1%;
        margin-left: 1%;
    }

}